*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Teko', sans-serif;
  background: linear-gradient(to bottom, #004d99 0%, #00264d 76%);
  color: #fff;
}

button{
  margin: 0 10px;
  border-radius: 15px;
  border: none;
  padding: 8px;
  transition: 0.5s all linear;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.4);
}
button:hover{
  transform: scale(1.1);
}
button:focus{
  outline: none;
}

ol{
  max-width: 400px;
  box-shadow: 3px 5px 14px 6px rgba(0,0,0,0.67);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 15px;
}

li{
  list-style: none;
  color: #fff;
  margin: 10px 0;
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: bold;
}

h1{
  color: #fff;
  font-size: 46px;
  margin-bottom: 5px;
  letter-spacing: 1px;

}
p{
  margin-bottom: 15px;
  color: #fff;
  font-size: 24px;
  letter-spacing: 1px;
}

input{
  margin-bottom: 25px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 16px;
}
input:focus{
  outline: none;
}

li i{
  margin-left: 15px;
  cursor: pointer;
  transition: 0.3s all linear;
}
li i:hover{
  transform: scale(1.2);
  color: red;
}

::placeholder{
  font-size: 16px;
}

.wrapper{
  max-width: 1080px;
  height: 100vh;
  margin: auto;
  text-align: center;
  padding: 20px;
  background-image: url('../nave.gif');
  background-size: cover;
  display: flex;
  justify-content: flex-end;
}
